<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.menu">

    <application
        android:networkSecurityConfig="@xml/netowrk_security_config"
        android:allowBackup="true"
        android:icon="@drawable/hello"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hello"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TelaVoz"></activity>
        <activity android:name=".TelaTensorFlow" />
        <activity android:name=".TelaSeta" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

</manifest>